import React from "react";

export interface {{pascalCase name}}Props {
  // TODO: props
}

export function {{pascalCase name}}(props: {{pascalCase name}}Props) {
  return <div data-testid="{{pascalCase name}}">{{pascalCase name}} works!</div>;
}
